@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&family=Shrikhand&display=swap');
*{box-sizing: border-box;}

body {
    margin: 0;
    
}

.maincontainer {
    width: 100%;
}

.maincontainer img {
    width: 100%;
}

.maincontainer  .maincontainer p, .maincontainer h2 {
    font-family: 'Roboto', sans-serif;
} 
.page{
    background: #F6F6F6;
}

header {
    font-family: 'Shrikhand', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h1{
    font-family:'Shrikhand', serif;
}

.hed
{
    img{width: 100%;
        height: 275px;
        padding-top: 10px;
        object-fit: cover;
    

    };
    
}
    
        


header .cit {
    display: flex;
}


//header page 2//
.head2{
    img:first-of-type{
        width: 150px;
        padding-top: 10px;
    }
    img:nth-of-type(2){
        width: 100%;
        height: 275px;
        padding-top: 20px;
        object-fit: cover;
    
    }
    i {
        position: absolute;
        left: 40px;
        font-size: 20px;
        color: black;
        top: 5px;
    padding-top: 5px;
    }
}

    
    //fin du header global//
    

.title2{
    margin-bottom: 3px;

}
hr{
    border-color:   rgba(47, 255, 64, 0.774);
    width: 13%;
    margin: 0;
    padding-top: 0;
    

}
.carte{
    
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 20px;
    gap: 2rem;
    
    ;
  
    article{
        display: flex;
        border-radius: 15px;
        margin: auto;
        width: 90%;
       
        background: rgba(255, 255, 255, 0.932);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        align-items: center;
        .card3{
            padding: 15px 0;
        }
        
       h3{
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 20px;
       }
       p{
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 20px;
       }
       span{
        
        margin-left: auto;
        margin-right: 10px;
       }
    }
}
.palette{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
    border-radius: 2rem 2rem 0 0;
    background: #F6F6F6;
    position: relative;
    i{
        font-size: 30px;
    }
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 14px;
    
    i{
        margin-right: 15px;
    }

    img {
        width: 200px;
    }

    p {
        text-align: center;
        background-color: #EAEAEA;
        width: 100%;
        padding: 15px 0;
        margin: 15px 0 0;
    }
}

.titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #F6F6F6;
    padding: 15px 0  57px;
    

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
    }
}
.title2{
    width: 90%;
    margin: auto;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 30px;
}


.btnres {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    font-weight: bold;
    border: none;
    font-size: 1rem;
    text-align: center;
    color: white;
    margin: auto;
    transition: transform 200ms;
    &:hover{
        transform: scale(1.15);
        
    }
}

.icon-link:hover,.icon-link:active {
  color: purple; 
}




.fonction{
    padding: 50px 10px;
}
.compo{
    display: flex;
    font-family:'Roboto', sans-serif;
    list-style-type: none;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    
    li {
    
        text-align: center;
        
        position: relative;
        border-radius: 20px;
        background: #F6F6F6;
        padding: 28px 0;
        width: 90%;
        margin: auto;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        i{
            margin-right: 25px;
            width: 20px;
        }
        &:hover i {
            color: #9356DC;
        }
        span{
            border-radius: 100%;
            background-color: #9356DC;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #F6F6F6;
            left: 0;
            top: 50%;
            transform: translate(-50% , -50%);
            position: absolute;
        }

    }
}
.Card { 
    background-color: #F6F6F6;
    padding: 54px 17px 66px;

    article {
        padding-top: 20px;
    }

    a {
        text-decoration: none;
    }
    
    img {
        border-radius: 15px 15px 0 0;
        height: 174px;
        object-fit: cover;
        text-align: center; 
    }
    .pals{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 0 13px;
        border-radius:  0 0 15px 15px;
        i{
            font-size: 20px;
        }

       .pals-text {
        color: black;
        text-decoration: none;
        font-family:'Roboto', sans-serif;
        padding: 10px 0;

        h3{
            line-height: 0;
        }
        }
    }
}
.foot{
    width: 100%;
    padding: 22px 25px;
    background:  #353535;
  
    img{ width: 110px;
    
  

   }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    li {
        i{
            margin-right: 10px;
        }
        a{
            text-decoration: none; /* Enlève le soulignement par défaut */
            color: white;
            font-weight: 500;
        }
    }
   
  }
  
}
@media  (min-width: 1024px) {
    /* Styles spécifiques au bureau vont ici */ 
    
        .head2 img:nth-of-type(2){
        height: 450px;
    }
    
    
    .palette{
        justify-content: center;
        gap: 15px;
        padding-top: 15px;
    }
    .page{
        width: 50%;
        margin: auto;
    }
    
  
    hr{
        width: 5%;
    }
    .fonction{
        
        max-width: 1280px;
        margin: auto;
        
         h2{
            margin-top: 0;
         }
         .compo{
            flex-direction: row;
            margin: 0;
            padding-left: 4px;
         }
        
    }
    .title2{
        width: 70%;
        margin: auto;
    }
    .carte article{
        width: 70%;
    }
        
    
    .Card{
        width: 100%;
        > div{
            max-width: 1280px;
            margin: auto;
            position: relative;

        }
        
       .card2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
       }
    }
    .foot{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .foot-list{
            order: 1;
            flex-direction: row;
            gap: 2rem;
            padding-top: 15px;
        }
        .myfoo{
            display: flex;
            order: 2;
            justify-content: flex-end;
            align-items: center;
            padding-left: 120px;
            padding-right: 30px;
            padding-top: 10px;

        }
    }
  }
 
 