@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.maincontainer {
  width: 100%;
}

.maincontainer img {
  width: 100%;
}

.maincontainer .maincontainer p, .maincontainer h2 {
  font-family: "Roboto", sans-serif;
}

fa-heart {
  border-width: 10px;
}

.page {
  background: #F6F6F6;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: ghost 1s;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 3s;
}
.loader i {
  animation: spin 3s infinite linear;
}

@keyframes ghost {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
header {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", serif;
}

.hed img {
  width: 100%;
  height: 275px;
  padding-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .cit {
  display: flex;
}

.head2 img:first-of-type {
  width: 150px;
  padding-top: 10px;
}
.head2 img:nth-of-type(2) {
  width: 100%;
  height: 275px;
  padding-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.head2 i {
  position: absolute;
  left: 40px;
  font-size: 20px;
  color: black;
  top: 5px;
  padding-top: 5px;
}

.title2 {
  margin-bottom: 3px;
}

hr {
  border-color: rgba(47, 255, 64, 0.774);
  width: 13%;
  margin: 0;
  padding-top: 0;
}

@keyframes appear {
  0% {
    margin-top: 40px;
    opacity: 0.1;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.carte {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 20px;
  gap: 2rem;
}
.carte .plats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.carte .plats article {
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.carte .desserts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.carte .desserts article {
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.carte article {
  display: flex;
  border-radius: 15px;
  margin: auto;
  width: 90%;
  height: 77px;
  animation: appear 2s;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.932);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
}
.carte article:hover .check {
  margin-right: 0;
}
.carte article .card3 {
  padding: 15px 0;
  flex: 1;
  overflow: hidden;
}
.carte article .check {
  display: flex;
  background-color: #99E2D0;
  height: 100%;
  width: 60px;
  border-radius: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
  transition: all 0.5s;
}
.carte article .check i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  color: #99E2D0;
}
.carte article h3 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 20px;
}
.carte article p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.carte article span {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-weight: bold;
  padding-bottom: 15px;
  margin-right: 15px;
}

.palette {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -50px;
  border-radius: 2rem 2rem 0 0;
  background: #F6F6F6;
  position: relative;
}
.palette i {
  position: absolute;
  font-size: 30px;
  right: 40px;
}
.palette .fa-solid {
  opacity: 0;
  transition: all 1s;
}

.palette:hover .fa-solid {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 1;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.palette h1 {
  left: -55px;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 14px;
}
.logo i {
  margin-right: 15px;
}
.logo img {
  width: 200px;
}
.logo p {
  text-align: center;
  background-color: #EAEAEA;
  width: 100%;
  padding: 15px 0;
  margin: 15px 0 0;
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding: 15px 0 57px;
}
.titles p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

.title2 {
  width: 90%;
  margin: auto;
}
.title2 h2 {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 30px;
}

.btnres {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: bold;
  border: none;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin: auto;
  transition: transform 200ms;
}
.btnres:hover {
  transform: scale(1.15);
}

.icon-link {
  position: relative;
  width: 30px;
  height: 30px;
}

.icon-link i {
  position: absolute;
}
.icon-link .fa-solid {
  opacity: 0;
  transition: all 1s;
}

.icon-link:hover .fa-solid {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 1;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fonction {
  padding: 50px 10px;
}

.compo {
  display: flex;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
}
.compo li {
  text-align: center;
  position: relative;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 28px 0;
  width: 90%;
  margin: auto;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.compo li i {
  margin-right: 25px;
  width: 20px;
}
.compo li:hover i {
  color: #9356DC;
}
.compo li span {
  border-radius: 100%;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6F6F6;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.Card {
  background-color: #F6F6F6;
  padding: 54px 17px 66px;
}
.Card article {
  padding-top: 20px;
}
.Card a {
  text-decoration: none;
}
.Card img {
  border-radius: 15px 15px 0 0;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
.Card .pals {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 13px;
  border-radius: 0 0 15px 15px;
}
.Card .pals i {
  font-size: 30px;
}
.Card .pals .pals-text {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
}
.Card .pals .pals-text h3 {
  line-height: 0;
}

.new {
  border: 0 solid;
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: -18.5vmax;
}

.foot {
  width: 100%;
  padding: 22px 25px;
  background: #353535;
}
.foot img {
  width: 110px;
}
.foot ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.foot ul li i {
  margin-right: 10px;
}
.foot ul li a {
  text-decoration: none; /* Enlève le soulignement par défaut */
  color: white;
  font-weight: 500;
}

@media (min-width: 1024px) {
  /* Styles spécifiques au bureau vont ici */
  .head2 img:nth-of-type(2) {
    height: 450px;
  }
  .palette {
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
  }
  .palette i {
    left: 47.75rem;
  }
  .page {
    width: 50%;
    margin: auto;
  }
  hr {
    width: 5%;
  }
  .fonction {
    max-width: 1280px;
    margin: auto;
  }
  .fonction h2 {
    margin-top: 0;
  }
  .fonction .compo {
    flex-direction: row;
    margin: 0;
    padding-left: 4px;
  }
  .title2 {
    width: 70%;
    margin: auto;
  }
  .carte article {
    width: 70%;
  }
  .Card {
    width: 100%;
  }
  .Card > div {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }
  .Card .card2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .new::before {
    top: -10rem;
  }
  .foot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .foot .foot-list {
    order: 1;
    flex-direction: row;
    gap: 2rem;
    padding-top: 15px;
  }
  .foot .myfoo {
    display: flex;
    order: 2;
    justify-content: flex-end;
    align-items: center;
    padding-left: 120px;
    padding-right: 30px;
    padding-top: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles spécifiques pour les tablettes */
}/*# sourceMappingURL=style.css.map */